
    html, body{
      margin-top: 10%;
      width: 100%;
      background: palevioletred;
      text-align: center;
    }

    .circle {
      margin: 50px;
      width: 50px;
      height: 50px;
      background:white;
      border-radius: 50%;
      text-align: center;
      color: palevioletred;
      font-size: 30px;
      display: inline-block;
    }

    .active{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      color: #fff;
      background:palevioletred;
      margin: 50px;
      animation: ripple 1000ms infinite;
    }

    @keyframes ripple {
      0% {
        box-shadow: 0 0 0 0px palevioletred, 0 0 0 0px #fff, 0 0 0 0px palevioletred, 0 0 0 0px #fff, 0 0 0 0px palevioletred, 0 0 0 0px #fff, 0 0 0 0px palevioletred, 0 0 0 0px #fff;
      }
      100% {
        box-shadow: 0 0 0 5px palevioletred, 0 0 0 7px rgba(255,255,255,0), 0 0 0 20px palevioletred, 0 0 0 22px rgba(255,255,255,0), 0 0 0 40px palevioletred, 0 0 0 42px rgba(255,255,255,0), 0 0 0 60px palevioletred, 0 0 0 67px rgba(255,255,255,0);
      }
    }